body{
    background-color: #DDEEDD;
    font-family: Tahoma;
    text-align: center;
}
ul{
    list-style-type: square;
}
li{
    text-align: left;
}
header,footer{
    color: white;
    font-size: 120%;
    padding: 10px;
}
header{
    background-color: #409FFF;
}
footer{
    background-color: #A0A0A0;
}
nav{
    background-color: #FFFFFF;
    padding: 10px;
}
nav a{
    margin-right: 30px;
}
.left{
    background-color: #E4C0A8;
    width: 30%;
    height: 650px;
}
.right{
    width: 70%;
    height: 650px;
    overflow: auto;
}
a{
    color: #009900;
}
table,th,td{
    border: solid 1px black;
}
table{
    margin-top: 20px;
    margin: auto;
}
main{
    display: flex;
}