header{
    height: 50px;
    padding: 10px;
    background-color: rgb(41, 168, 41);
}
.left{
    width: 15%;
    height: 500px;
    background-color: rgb(85, 161, 85);
}
main{
    width: 70%;
    height: 450px;
    padding-top: 50px;
    background-color: rgb(173, 253, 165);
}
.right{
    width: 15%;
    height: 450px;
    padding-top: 50px;
    background-color: rgb(41, 168, 41);
}
h1{
    font-family: verdana;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style-type: circle;
}
blockquote:hover{
    color: rgb(41, 168, 41);
}
.flex{
    display: flex;
}
footer{
    height: 50px;
    padding: 5px;
    background-color: rgb(41, 168, 41);
}