*{
    font-family: Georgia,serif;
}
header,footer{
    background-color: forestgreen;
    color: white;
    padding: 2px;
    text-align: center;
}
nav{
    background-color: darkkhaki;
    height: 150px;
    overflow: hidden;
}
.left,.right{
    background-color: khaki;
    width: 50%;
    height: 450px;
}
.left img{
    padding: 2px;
    margin: 10px;
    border: dotted 2px forestgreen;
    border-radius: 40px;
}
p{
    font-size: 120%;
    font-style: italic;
}
main{
    display: flex;
}