*{
    font-family: Helvetica;
}
body{
    background-color: lightsalmon;
    text-align: center;
}
.top{
    width: 30%;
    height: 400px;

}
.bottom{
    background-color: darksalmon;
    width: 30%;
    height: 100px;

}

.top,.bottom{
    width: 100%;
}
.left{
    width: 30%;
}

.right{
    width: 70%;
    height: 500px;
    overflow: auto;
}
img{
    width: 100%;
}
.right p{
   font-style: italic;
   font-size: 200%;
   padding: 10px; 
}
.right p:hover{
   color: ghostwhite;
}
table,td{
    border: dotted 1px Maroon;
}
table{
    width: 70%;
    margin: auto;
}
main{
    display: flex;
}